@font-face {
    font-family: 'cesar';
    src: url(./fuentes/Lato-Bold.ttf);
}

body{
    background-color:#390099;
}

.container{
    display: flex;
    width: 100%;
    height:100%;
    align-items:center;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    
}
.recuadroLogin{
    background-color: #FF0054;
    height: 60%;
    width: 60%;
    border-radius: 20px;
    display: flex;
    margin: 0px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  

}

.container-form{
    width: 50%;
    height: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;

    
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    align-items: center;
    flex-wrap: wrap;
}

.container-image{
    width: 50%;
    margin: 0px;
    
}
.container-image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 0px;
    object-fit: cover;

    
}




.nombre{
    display: flex;
    flex-direction: column;
    
}
.contraseña{
    display: flex;
    flex-direction: column;
}
.nombre input{
    border-radius: 20px ;
    width: 200px;
    border: 1px solid violet;
    font-family: 'cesar';
    padding: 8px;
    height: 25px;
}
.nombre label{
    font-family: 'cesar';
    color:white;
    padding: 0px;
  
}

.contraseña input{
    border-radius: 20px ;
    width: 200px;
    border: 1px solid violet;
    font-family: 'cesar';
    height: 25px;
    padding: 8px;

}
.contraseña label{
    font-family: 'cesar';
    color:white;
    padding: 0px;
}




.boton{
    
    border-radius: 20px ;
    width: 200px;
    border: 1px solid violet;
    font-family: 'cesar';
    height: 40px;
    background-color: blue;
    color: white;   
    margin-left: 20px;
    
}






.navegacion{
    background-color:blue ;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px ;
    
}

.header figure img {
    width: 80px;
    height:80px;
    
}

.JA{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.JA li a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-family: 'cesar';
}



.Slogan{
    display: flex;
    align-items: flex-start;
    font-family: 'Lato', sans-serif;
    background-color: white;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
}
.Slogann{
    margin-left: 300px;
}
.titulo-slogan{
    color:#390099;
    margin-right: 60px;
    font-size: 40px;
}



.botones{
    width: 100%;
    height: 100%;
    font-family: 'Red Hat Mono', monospace;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.boton1{
    border-radius: 50px;
    margin-right: 10px;
    background-color:#390099;
    width: 130px;
    height: 30px;
    border: 2px solid #390099;;
    color: white;
}


.boton2{
    border-radius: 50px;
    margin-right: 10px;
    background-color:white;
    width: 130px;
    height: 30px;
    border: 2px solid #390099; ;
    color:#390099;;
}