@font-face {
    font-family: 'cesar';
    src: url(./fuentes/Lato-Bold.ttf);
}


*{
    margin:0 px;
    padding: 0px;
}

.change{
    display: none;
}

.icon-close{
    font-size: 16px;
    color: white;

}

@media (max-width : 700px){
    .recuadroLogin{
        width: 100%;
    }
    
    .recuadroLogin button{
        width: 70px;
        height: 20px;
        margin-left: 0 !important;
        align-items: flex-end;
        justify-content: flex-end;
    
    }
    .JA{
        display: none!important;
    }
    .change:checked ~ ul{
        display: inline-block !important;
    
    }
    .icon-menu{
        display: inline-block!important;
    }




    
    .form ul label{
        font-size: 0.4rem;
    }

    .recuadroLogin button{
        width: 60px;
        font-size: 8px;
        height: 26px;
    }
    .form ul input{
        font-size: 0.4rem;
        height: 30%;
    }

 
    .titulo-slogan{
        font-size: 1.4rem !important;
        width: 50%;
        height: 20%;
        
    
    }
    .parraf{
        font-size: 0.6rem!important;
        width: 60%;
    }
    .container-list h3{
        font-size: 2rem !important;

    }
    .container-list li{
        font-size: 0.5rem !important;
    }
    .container-footer h3{
        font-size: 1rem!important;
    }
    .container-footer p {
        font-size: 0.5rem!important;
    }

}


@media (min-width:700px) and (max-width : 1200px){
    .JA{
        display: none !important    ;
    }
    li{
        width: 100%;
    }
    .icon-menu{
        display: inline-block!important;
    }
    .change:checked ~ ul{
        display: inline-block !important;
    
    }

    .form ul label{
        font-size: 0.6rem;
    }

    .recuadroLogin button{
        width: 120px;
        height: 30px;
    }
    .form ul input{
        font-size: 0.6rem;
        height: 40%;
    }

    .titulo-slogan{
        font-size: 1.8rem!important;
        width: 60%;
        height: 30%;
        
    }
    .parraf{
        font-size: 1rem!important;
        width: 80%;
    }
    .botones button{
        width:100px ;
        height: 30px;
        font-size: 12px;
    }
    .container-list h3{
        font-size: 4rem !important;

    }
    .container-list li{
        font-size: 0.8rem !important;

    }
    .container-footer h3{
        font-size: 2.6rem!important;   
    }
    .container-footer p{
        font-size: 0.8rem!important;
    }
    
}

@media( min-width: 1201px){
    .icon-menu{
        display: none !important;
    }
  
    .JA{
        display: flex;
    }
}

body{
    background-color:#390099;
}


.container{
    display: flex;
    width: 100vw;
    align-items:center; 
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
   
  

}
.recuadroLogin{
    background-color: #FF0054;
    height: 60%;
    width: 60%;
    border-radius: 20px;
    display: flex;
    margin: 0px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  

}

.container-form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.container-image{
    width: 70%;
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
    margin: 0px;
    
}
.container-image img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 0px;
    object-fit:cover;

    
}




.nombre{
    display: flex;
    flex-direction: column;
    
}
.contraseña{
    display: flex;
    flex-direction: column;
}
.nombre input{
    border-radius: 15px ;
    width: 100%;
    border: 2px solid violet;
    font-family: 'cesar';
    padding: 6px;
    height: 30px;
    font-size:1rem;
}
.nombre label{
    font-family: 'cesar';
    color:white;
    font-size: 1rem;
    margin-left: 5px;
  
}

.contraseña input{
    border-radius: 15px ;
    width: 100%;
    font-size: 1rem;
    border: 2px solid violet;
    font-family: 'cesar';
    padding: 6px;
    height: 30px;   

}
.contraseña label{
    font-family: 'cesar';
    color:white;
    font-size: 1rem;
    margin-left: 5px;
}




.boton{
    
    border-radius: 15px ;
    width: 180px;
    border: 2px solid violet;
    font-family: 'cesar';
    height: 45px;
    transition: background-color 0.8s;
    background-color: blue;
    color: white;   
    padding:6px;    
}






.navegacion{
    background-color:blue ;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px ;
    
}


.navegacion  img {
    width: 80px;
    height:80px;
    transition: border-left 1s ;
    transition: border-top 1s;
    transition: border-right 1s;
}

.menu{
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.JA{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.JA li a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    font-family: 'cesar';
}
.icon-menu{
    font-size: 16px;
    color: white;
    
}



.Slogan{
    
    margin: 0px;
    background-color: white;
}
.Slogann{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    font-family: 'cesar';
    justify-content: space-around;
    flex-direction: column;
    
}
.titulo-slogan{
    color:#390099;
    width: 40%;
    height: 40%;
    font-size: 3rem;
    animation-name: texto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    line-height: 60px;
    letter-spacing: 10px;

    
    
}

.parraf{
    font-size: 1.5rem;
    font-weight: 500px;
    font-family: 'cesar';

}
.botones{
    width: 100%;
    height: 100%;
    font-family: 'Red Hat Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.boton1{
    border-radius: 50px;
    margin-right: 10px;
    background-color:#390099;
    width: 130px;
    transition: background-color 0.8s;
    height: 30px;
    border: 2px solid #390099;;
    color: white;
}


.boton2{
    border-radius: 50px;
    margin-right: 10px;
    background-color:white;
    width: 130px;
    height: 30px;
    transition: background-color 0.8s ;
    border: 2px solid #390099; ;
    color:#390099;;
}


.li-nav:hover{
    color:white;
    cursor: pointer;
    border-top: 2px solid #88b2ff;
}

.boton:hover{
    cursor: pointer;
    background-color: white;
    color:blue;  
}

.boton1:hover{
    background-color: white;
    cursor: pointer;
    color:#390099;
    
}
.boton2:hover{
    background-color: #390099;
    color: white;
    cursor:pointer;
}
.navegacion img:hover{
    border-left:6px outset #88b2ff;
    border-top: 6px outset #88b2ff;
    border-right: 6px outset #88b2ff;
    
}

@keyframes texto {
 from{
     margin-left: 100%;
     width: 300%;
 }
 to{
    margin-left: 100%;
    width: 100%;
 }
}

.titulo-slogan::first-letter{
    font-size: 6rem;
    color:#FF0054;
}

.container-list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #212d66;
    justify-content: space-around;
}
.container-list h3{
    font-size: 6rem;
    font-weight: 400px;
    color: white;
    font-family: 'cesar';
}
.container-list h3::first-letter{
    color: aqua;
}

.container-list li {
    list-style: none;
    font-family: 'cesar';
    font-size: 1rem;
    color: white;
    
}
.container-list li a {
    color: white;
    text-decoration: none;
}
.li-p:hover{
    color:white;
    cursor: pointer;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    
}

.container-footer{
    width: 100%;
    height: 100%;
    background-color:#b3c8e8;
    color: #2b2a33;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.fo-segun{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-footer h3{
    font-size: 3rem;
    height: 20%;
    margin-top: 20px;
    margin-left: 20px;
    width: 40%;
    font-weight: 500;
    font-family: 'cesar';

}
.container-footer h3::first-letter{
    color: #390099;
}
.container-footer p {
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: 400px;
    width: 40%;
    height: 40%;
    flex-wrap: wrap;
    font-family: 'cesar';
    margin-bottom: 40px;

}

.fo-segun img {
    width: 60%;
    height: 40%;
    color: white;
    
}
.fo-ig{
    width:8%;
}
.fo-link{
    width: 8%;
}